* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Orbitron", sans-serif;
}

body {
    background: #0B0F1E;
    color: #E0E6FF;
    scroll-behavior: smooth;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    background: rgba(10, 14, 35, 0.9);
    padding: 15px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    border-bottom: 1px solid #2E3A7A;
}

.logo {
    font-size: 22px;
    font-weight: 800;
    color: #7B61FF;
}

nav a {
    margin-left: 25px;
    text-decoration: none;
    color: #E0E6FF;
    transition: 0.3s;
}

nav a:hover {
    color: #7B61FF;
}

section {
    padding: 100px 10%;
    text-align: center;
}

#hero {
    margin-top: 70px;
    background: linear-gradient(to bottom right, #111732, #0B0F1E);
    padding: 150px 10%;
}

#hero h1 {
    font-size: 50px;
    margin-bottom: 10px;
}

#hero p {
    margin: 10px 0;
    font-size: 18px;
}

.btn {
    display: inline-block;
    background: #7B61FF;
    padding: 12px 25px;
    border-radius: 5px;
    margin-top: 20px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover {
    background: #5A3FE6;
}

h2 {
    font-size: 30px;
    margin-bottom: 40px;
    color: #7B61FF;
}

.skills-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.skill {
    background: #1A2247;
    padding: 15px 25px;
    border-radius: 8px;
    border: 1px solid #2E3A7A;
}

.project-card {
    background: #131A33;
    padding: 25px;
    margin: 20px auto;
    width: 80%;
    border-radius: 10px;
    border: 1px solid #2E3A7A;
    text-align: center;
}

footer {
    padding: 20px;
    background: #0D1226;
    text-align: center;
    font-size: 14px;
    margin-top: 50px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    header {
        padding: 15px 20px;
    }
    .logo {
        font-size: 18px;
    }
    nav a {
        margin-left: 10px;
    }
    #hero h1 {
        font-size: 38px;
    }
}
